{% extends 'index.html' %}

{% block content %}
<div class="main_container">
    <div class="main_container__inner">
        <h2>Добавление нового отзыва</h2>
        <div class="main_container_item">

            <div class="add_task_inner">
                <form class="add_task_form" method="post" action="{% url 'add_feedback' %}">
                    {% csrf_token %}
                    <div class="form_input_item">
                        <h4>Введите ваше имя:</h4>
                        {{ add_feedback_form.name }}
                        {% if add_feedback_form.name.errors %}
                            <div class="error_container">
                                {{ add_feedback_form.name.errors }}
                            </div>
                        {% endif %}
                    </div>

                    <div class="form_input_item">
                        <h4>Введите текст отзыва:</h4>
                        {{ add_feedback_form.text }}
                        {% if add_feedback_form.text.errors %}
                            <div class="error_container">
                                {{ add_feedback_form.text.errors }}
                            </div>
                        {% endif %}
                    </div>
                    <div class="add_task_container">
                        <button type="submit" class="task_btn">Добавить отзыв</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



{% endblock content %}