{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Домашняя работа №7</title>
    <link rel="shortcut icon" href="{% static 'img/Logo_red.png' %}"/>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
</head>
<body>
<!-- =================================================== HEADER =================================================== -->
    <header>
        <div class="header_container">
            <div class="header_container__inner">
                <a href="#"><img src="{% static 'img/Logo_white.png' %}" alt="#" class="logo"></a>
                <div class="student_container">  
                    <img src="{% static 'img/Photo.jpg' %}" alt="Фото" class="student_photo">
                    <p class="student_name">Терентьев<br> Алекасандр</p>     
                </div>
            </div>  
        </div>
        <div class="title_container">
            <div class="title_container__inner">
                <h1 class="header_title"><span>Домашняя</span> Работа №7</h1>
            </div>
        </div>
        <nav class="nav_bar">
            <div class="nav_bar__inner">
                <a href="{% url 'tasks' %}">Список задач</a>
                <a href="{% url 'add_task' %}">Добавить задачу</a>
                <a href="{% url 'add_feedback' %}">Оставить отзыв</a>
            </div>
        </nav>
    </header>
<!-- ========================================================= MAIN ========================================================= -->
    <main>
        {% block content %}

        {% endblock content %}

    </main>
<!-- ========================================================= FOOTER ========================================================= -->
    <footer>
        <div class="footer_container">
            <div class="footer_container__inner">
                <p class="footer_text">
                    Домашняя работа выполнена самостоятельно <span>Терентьевым Александром</span>.
                </p>
                <div class="logo_container">
                    <img class="logo_red" src="{% static 'img/Logo_red.png' %}" alt="Logo">
                </div>
            </div>
        </div>
    </footer>
</body>
</html>