{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h2 class="text-center mb-4">Задачи</h2>
    <div class="row my-5">
        <div class="form_container col-md-8">
            <div class="tasks_container">
                {% if status_task_dict %}
                    {% for status, task_list in status_task_dict.items %}
                        <h4>{{status}}:</h4>
                        {% for task in task_list %}
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item px-5">
                                    <a href="{% url 'task_detail' task.id %}">{{task.task}}</a>
                                </li>
                            </ul>
                        {% endfor %}
                    {% endfor %}
                {% else %}
                    <h4>На текущий момент задач нет!</h4>
                {% endif %}
            </div>
        </div>
        <div class="col-md-4">
            <div class="statuses_container">
                <h4>Список статусов:</h4>
                <div class="list-group">
                    <a href="{% url 'tasks' %}" class="list-group-item list-group-item-action">Все категории</a>
                    {% if all_statuses %}
                        {% for status_id, status_name in all_statuses %}
                            {% if status_id == active_status_id %}
                                <a href="?status={{ status_id }}" class="list-group-item list-group-item-action active" aria-current="true">
                                    {{ status_name }}
                                </a>
                            {% else %}
                                <a href="?status={{ status_id }}" class="list-group-item list-group-item-action">
                                    {{ status_name }}
                                </a>
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        <h5>На текущий момент задач нет!</h5>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="d-grid mt-3 col-6 mx-auto">
        <a href="{% url 'add_task' %}" class="btn btn-primary">Добавить задачу</a>
    </div>
</div>
{% endblock content %}