{% extends 'index.html' %}

{% block content %}
<div class="main_container">
    <h2>Мои задачи</h2>
    <div class="main_container__inner">
        <!-- ========================= Задачи из базы ========================= -->
        <div class="main_container_item">
            <h4>В процессе выполнения:</h4>

            {% if uncompleted_notes %}
            {% for note in uncompleted_notes %}
                <p class="task_text">
                    {{ note.text }}
                </p>
            {% endfor %}
            {% else %}
                <p class="task_text">Таких задач нет!</p>
            {% endif %}

            <h4>Выполненные:</h4>

            {% if completed_notes %}
                {% for note in completed_notes %}
                    <p class="task_text">
                        {{ note.text }}
                    </p>
                {% endfor %}
            {% else %}
                <p class="task_text">Таких задач нет!</p>
            {% endif %}
        </div>
        <div class="main_container_item">
            <div class="add_task_container">
                <a href="{% url 'add_task' %}" class="add_task_btn">Добавить задачу</a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}