{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="task_container">
        <h2 class="text-center">Задача</h2>
        <div class="task_info">
            <h5 class="mb-3">Наименование:</h5>
            <p class="px-4">{{task.task}}</p>
            <p><span>Статус:</span>&emsp;{{task.get_status_display}}</p>
            <p><span>Назначивший:</span>&emsp;{{task.profile_from}}</p>
            <p><span>Исполнители:</span>&emsp;
                {% for executor in executors %}
                    {{ executor.username }}{% if not forloop.last %}, {% endif %}
                {% endfor %}
            </p>
            <p><span>Дата создания:</span>&emsp;{{task.created_at}}</p>
            <p><span class="danger">Дедлайн:</span>&emsp;{{task.deadline}}</p>
        </div>
    </div>
    <hr class="my-4">
    <div class="note_container">
        <h4 class="mb-4">Заметки ({{ notes|length }})</h4>
        {% for note in notes %}
        <div class="note">
            <p class="fw-bolder mb-0">{{ note.profile.user.username }}</p>
            <p class="note-date">Дата: {{ note.created_at }}</p>
            <p class="note-text mb-0">{{ note.note }}</p>
            {% if note.is_liked %}
                <p class="mb-4"><a href="{% url 'note_like' task.id note.id %}">Убрать лайк: {{ note.likes_count }}</a></p>
            {% else %}
                <p class="mb-4"><a href="{% url 'note_like' task.id note.id %}">Лайкнуть: {{ note.likes_count }}</a></p>
            {% endif %}
        </div>
        {% endfor %}
    </div>
    <hr class="my-4">
    <div class="note-form">
        <h4>Добавить заметку:</h4>
        <form action="{% url 'task_detail' task.id %}" method="post">
            {% csrf_token %}
            {{ add_note_form.note }}
            {% if add_note_form.note.errors %}
            <div class="error_container mt-3">
                {{ add_note_form.note.errors }}
            </div>
            {% endif %}
            <div class="d-grid mt-3">
                <button type="submit" class="btn btn-primary">Отправить</button>
            </div>
        </form>
    </div>

</div>
{% endblock content %}