{% extends 'index.html' %}

{% block content %}
<div class="main_container">
    <h2>Мои задачи</h2>
    <div class="main_container__inner">
        <!-- ========================= Задачи из базы ========================= -->
        <div class="main_container_item">
            {% if status_task_dict %}
                {% for status, task_list in status_task_dict.items %}
                    <h4>{{status}}</h4>
                    {% for task in task_list %}
                        <p class="task_text">{{task}}</p>
                    {% endfor %}
                {% endfor %}

            {% else %}
                <p class="task_text">На текущий момент задач нет!</p>
                {% endif %}
        </div>
        <div class="main_container_item">
            <div class="add_task_container">
                <a href="{% url 'add_task' %}" class="add_task_btn">Добавить задачу</a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}